# Production license for @nuxt/ui-pro, get one at https://ui.nuxt.com/pro/purchase
NUXT_UI_PRO_LICENSE=

# Public URL, used for OG Image when running nuxt generate
NUXT_PUBLIC_SITE_URL=

# Connection to NH's Notion Client setup connection
NUXT_NOTION_API_KEY=

# Connection to NH's Notion page unique identifier
NUXT_NOTION_DATABASE_ID=
